# Data Extraction

 We are going to scrape data from three different sources:-
 1. Understat:- We are going to scrape xG,xA, key passes etc over the years.
 2. Fbref :- We are going to scrape two different tables from fbref, one is for goals and assists per season, another for shots on target per season.
 3. Transfermarket:- Messi's All Internatinal Goals.

## 1.Scraping Understat Data

In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import json
import requests
from bs4 import BeautifulSoup

### A. Extraction

In [23]:
URL = 'https://understat.com/player/2097'
def understat_scraper(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.content, 'lxml')
   
    quotes=[]  # a list to store quotes
    
    table = soup.find_all('script')
    strings = table[1].string

    ind_start = strings.index("('")+2
    ind_end = strings.index("')")
    json_data = strings[ind_start:ind_end]
    json_data = json_data.encode('utf8').decode('unicode_escape')
    data = json.loads(json_data)

    return data

In [24]:
data = understat_scraper(URL)

In [25]:
data['season']

[{'position': 'FW',
  'games': '11',
  'goals': '6',
  'shots': '51',
  'time': '978',
  'xG': '8.136113233864307',
  'assists': '9',
  'xA': '6.090364996343851',
  'key_passes': '32',
  'season': '2022',
  'team': 'Paris Saint Germain',
  'yellow': '0',
  'red': '0',
  'npg': '6',
  'npxG': '8.136113233864307',
  'xGChain': '17.29499515146017',
  'xGBuildup': '8.159148883074522'},
 {'position': 'Sub',
  'games': '26',
  'goals': '6',
  'shots': '89',
  'time': '2155',
  'xG': '9.8803666010499',
  'assists': '13',
  'xA': '8.680599307641387',
  'key_passes': '63',
  'season': '2021',
  'team': 'Paris Saint Germain',
  'yellow': '0',
  'red': '0',
  'npg': '6',
  'npxG': '9.8803666010499',
  'xGChain': '27.21942439675331',
  'xGBuildup': '13.841107498854399'},
 {'position': 'FW',
  'games': '35',
  'goals': '30',
  'shots': '195',
  'time': '3017',
  'xG': '26.676843278110027',
  'assists': '9',
  'xA': '11.422847747802734',
  'key_passes': '77',
  'season': '2020',
  'team': 'Barcelona',
  'yellow': '4',
  'red': '0',
  'npg': '27',
  'npxG': '22.96045546978712',
  'xGChain': '37.906863175332546',
  'xGBuildup': '20.33736250922084'},
 {'position': 'Sub',
  'games': '33',
  'goals': '25',
  'shots': '159',
  'time': '2876',
  'xG': '20.84966728463769',
  'assists': '20',
  'xA': '16.593363385647535',
  'key_passes': '88',
  'season': '2019',
  'team': 'Barcelona',
  'yellow': '4',
  'red': '0',
  'npg': '20',
  'npxG': '17.133279267698526',
  'xGChain': '34.92346678301692',
  'xGBuildup': '13.53765751607716'},
 {'position': 'FW',
  'games': '34',
  'goals': '36',
  'shots': '170',
  'time': '2704',
  'xG': '25.997169069945812',
  'assists': '13',
  'xA': '15.33516551926732',
  'key_passes': '93',
  'season': '2018',
  'team': 'Barcelona',
  'yellow': '3',
  'red': '0',
  'npg': '32',
  'npxG': '22.28090887516737',
  'xGChain': '38.45987746119499',
  'xGBuildup': '10.69879900291562'},
 {'position': 'FW',
  'games': '36',
  'goals': '34',
  'shots': '196',
  'time': '2995',
  'xG': '28.946280613541603',
  'assists': '12',
  'xA': '15.100405622273684',
  'key_passes': '87',
  'season': '2017',
  'team': 'Barcelona',
  'yellow': '3',
  'red': '0',
  'npg': '32',
  'npxG': '25.973170146346092',
  'xGChain': '48.18063422292471',
  'xGBuildup': '21.634404016658664'},
 {'position': 'FWR',
  'games': '34',
  'goals': '37',
  'shots': '179',
  'time': '2832',
  'xG': '26.885174363851547',
  'assists': '9',
  'xA': '13.955131396651268',
  'key_passes': '79',
  'season': '2016',
  'team': 'Barcelona',
  'yellow': '6',
  'red': '0',
  'npg': '31',
  'npxG': '21.682230830192566',
  'xGChain': '42.52504535019398',
  'xGBuildup': '18.13351222872734'},
 {'position': 'FWR',
  'games': '33',
  'goals': '26',
  'shots': '158',
  'time': '2726',
  'xG': '27.101910315454006',
  'assists': '16',
  'xA': '15.871278138831258',
  'key_passes': '77',
  'season': '2015',
  'team': 'Barcelona',
  'yellow': '3',
  'red': '0',
  'npg': '23',
  'npxG': '21.899351350963116',
  'xGChain': '41.99686624109745',
  'xGBuildup': '15.196364373899996'},
 {'position': 'FW',
  'games': '38',
  'goals': '43',
  'shots': '187',
  'time': '3374',
  'xG': '35.89176357910037',
  'assists': '18',
  'xA': '17.61195552162826',
  'key_passes': '95',
  'season': '2014',
  'team': 'Barcelona',
  'yellow': '4',
  'red': '0',
  'npg': '38',
  'npxG': '31.432097773998976',
  'xGChain': '54.75360991060734',
  'xGBuildup': '19.75672373920679'}]

### B. Transforming the Data into pandas dataframe.

In [30]:
season = []
goals = []
assists = []
xG = []
xA = []
key_passes = []
shots = []
minutes = []
xGChain = []
xGBuildup = []

for i in data['season']:
    season.append(i['season'])
    goals.append(i['goals'])
    assists.append(i['assists'])
    xG.append(i['xG'])
    xA.append(i['xA'])
    key_passes.append(i['key_passes'])
    shots.append(i['shots'])
    minutes.append(i['time'])
    xGChain.append(i['xGChain'])
    xGBuildup.append(i['xGBuildup'])

In [35]:

columns = ['season','goals','assists','xG','xA','key_passes','shots','minutes','xGChain','xGBuildup']
df_understat = pd.DataFrame([season,goals,assists,xG,xA,key_passes,shots,minutes,xGChain,xGBuildup], index=columns)

df_understat.T

,season,goals,assists,xG,xA,key_passes,shots,minutes,xGChain,xGBuildup
0,2022,6,9,8.136113233864307,6.090364996343851,32,51,978,17.29499515146017,8.159148883074522
1,2021,6,13,9.8803666010499,8.680599307641387,63,89,2155,27.21942439675331,13.841107498854399
2,2020,30,9,26.676843278110027,11.422847747802734,77,195,3017,37.906863175332546,20.33736250922084
3,2019,25,20,20.84966728463769,16.593363385647535,88,159,2876,34.92346678301692,13.53765751607716
4,2018,36,13,25.997169069945812,15.33516551926732,93,170,2704,38.45987746119499,10.69879900291562
5,2017,34,12,28.946280613541603,15.100405622273684,87,196,2995,48.18063422292471,21.634404016658664
6,2016,37,9,26.885174363851547,13.955131396651268,79,179,2832,42.52504535019398,18.13351222872734
7,2015,26,16,27.101910315454006,15.871278138831258,77,158,2726,41.99686624109745,15.196364373899996
8,2014,43,18,35.89176357910037,17.61195552162826,95,187,3374,54.75360991060734,19.75672373920679

### C. Saving the data into CSV

In [70]:
df_understat.T.to_csv('data/messi_understat.csv')

## 2. Scraping Fbref data

### A. Extracting/Scraping

In [43]:
fbref_url = 'https://fbref.com/en/players/d70ce98e/Lionel-Messi'
def fbref_scraper(url):
    df_list = pd.read_html(url) # this parses all the tables in webpages to a list
    return df_list

In [44]:
df_list = fbref_scraper(fbref_url)

### B. Exploration and Transformation

In [47]:
df_fbref = df_list[4]
df_fbref

        Unnamed: 0_level_0      Unnamed: 1_level_0      Unnamed: 2_level_0  \
                    Season                     Age                   Squad
0                2004-2005                      17               Barcelona
1                2005-2006                      18               Barcelona
2                2006-2007                      19               Barcelona
3                2007-2008                      20               Barcelona
4                2008-2009                      21               Barcelona
5                2009-2010                      22               Barcelona
6                2010-2011                      23               Barcelona
7                2011-2012                      24               Barcelona
8                2012-2013                      25               Barcelona
9                2013-2014                      26               Barcelona
10               2014-2015                      27               Barcelona
11               2015-2016                      28               Barcelona
12               2016-2017                      29               Barcelona
13               2017-2018                      30               Barcelona
14               2018-2019                      31               Barcelona
15               2019-2020                      32               Barcelona
16               2020-2021                      33               Barcelona
17               2021-2022                      34               Paris S-G
18               2022-2023                      35               Paris S-G
19              19 Seasons              19 Seasons                 2 Clubs
20                     NaN                     NaN                     NaN
21  Barcelona (17 Seasons)  Barcelona (17 Seasons)  Barcelona (17 Seasons)
22   Paris S-G (2 Seasons)   Paris S-G (2 Seasons)   Paris S-G (2 Seasons)
23                     NaN                     NaN                     NaN
24    La Liga (17 Seasons)    La Liga (17 Seasons)    La Liga (17 Seasons)
25     Ligue 1 (2 Seasons)     Ligue 1 (2 Seasons)     Ligue 1 (2 Seasons)

   Unnamed: 3_level_0 Unnamed: 4_level_0 Unnamed: 5_level_0  \
              Country               Comp             LgRank
0              es ESP         1. La Liga                1st
1              es ESP         1. La Liga                1st
2              es ESP         1. La Liga                2nd
3              es ESP         1. La Liga                3rd
4              es ESP         1. La Liga                1st
5              es ESP         1. La Liga                1st
6              es ESP         1. La Liga                1st
7              es ESP         1. La Liga                2nd
8              es ESP         1. La Liga                1st
9              es ESP         1. La Liga                2nd
10             es ESP         1. La Liga                1st
11             es ESP         1. La Liga                1st
12             es ESP         1. La Liga                2nd
13             es ESP         1. La Liga                1st
14             es ESP         1. La Liga                1st
15             es ESP         1. La Liga                2nd
16             es ESP         1. La Liga                3rd
17             fr FRA         1. Ligue 1                1st
18             fr FRA         1. Ligue 1                1st
19                NaN          2 Leagues                NaN
20            Country               Comp             LgRank
21                NaN           1 League                NaN
22                NaN           1 League                NaN
23                NaN                NaN                NaN
24                NaN                NaN                NaN
25                NaN                NaN                NaN

   Unnamed: 6_level_0 Playing Time                ... Expected              \
                   MP       Starts    Min    90s  ...       xG  npxG    xA
0                   7            0     70    0.8  ...      NaN   NaN   NaN
1                  17           11    911   10.1  ...      NaN   NaN   NaN
2                  26           23   1983   22.0  ...      NaN   NaN   NaN
3                  27           23   1973   21.9  ...      NaN   NaN   NaN
4                  31           27   2516   28.0  ...      NaN   NaN   NaN
5                  35           30   2805   31.2  ...      NaN   NaN   NaN
6                  33           31   2858   31.8  ...      NaN   NaN   NaN
7                  37           36   3270   36.3  ...      NaN   NaN   NaN
8                  32           28   2650   29.4  ...      NaN   NaN   NaN
9                  31           29   2501   27.8  ...      NaN   NaN   NaN
10                 38           37   3375   37.5  ...      NaN   NaN   NaN
11                 33           31   2729   30.3  ...      NaN   NaN   NaN
12                 34           32   2830   31.4  ...      NaN   NaN   NaN
13                 36           32   3000   33.3  ...     25.4  22.4  13.8
14                 34           29   2713   30.1  ...     23.4  19.7  13.6
15                 33           32   2880   32.0  ...     19.2  15.4  15.3
16                 35           33   3023   33.6  ...     23.6  19.5  10.8
17                 26           24   2153   23.9  ...     10.0  10.0   8.0
18                 11           11    963   10.7  ...      6.5   6.5   4.5
19                556          499  45203  502.3  ...    108.1  93.3  66.0
20                 MP       Starts    Min    90s  ...       xG  npxG    xA
21                519          464  42087  467.6  ...     91.6  76.9  53.5
22                 37           35   3116   34.6  ...     16.4  16.4  12.5
23                NaN          NaN    NaN    NaN  ...      NaN   NaN   NaN
24                519          464  42087  467.6  ...     91.6  76.9  53.5
25                 37           35   3116   34.6  ...     16.4  16.4  12.5

            Per 90 Minutes                             Unnamed: 31_level_0
    npxG+xA             xG    xA  xG+xA  npxG  npxG+xA             Matches
0       NaN            NaN   NaN    NaN   NaN      NaN             Matches
1       NaN            NaN   NaN    NaN   NaN      NaN             Matches
2       NaN            NaN   NaN    NaN   NaN      NaN             Matches
3       NaN            NaN   NaN    NaN   NaN      NaN             Matches
4       NaN            NaN   NaN    NaN   NaN      NaN             Matches
5       NaN            NaN   NaN    NaN   NaN      NaN             Matches
6       NaN            NaN   NaN    NaN   NaN      NaN             Matches
7       NaN            NaN   NaN    NaN   NaN      NaN             Matches
8       NaN            NaN   NaN    NaN   NaN      NaN             Matches
9       NaN            NaN   NaN    NaN   NaN      NaN             Matches
10      NaN            NaN   NaN    NaN   NaN      NaN             Matches
11      NaN            NaN   NaN    NaN   NaN      NaN             Matches
12      NaN            NaN   NaN    NaN   NaN      NaN             Matches
13     36.2           0.76  0.41   1.18  0.67     1.09             Matches
14     33.3           0.78  0.45   1.23  0.65     1.10             Matches
15     30.7           0.60  0.48   1.08  0.48     0.96             Matches
16     30.3           0.70  0.32   1.03  0.58     0.90             Matches
17     17.9           0.42  0.33   0.75  0.42     0.75             Matches
18     11.0           0.60  0.42   1.02  0.60     1.02             Matches
19    159.3           0.66  0.40   1.06  0.57     0.97                 NaN
20  npxG+xA             xG    xA  xG+xA  npxG  npxG+xA             Matches
21    130.4           0.71  0.41   1.12  0.60     1.01                 NaN
22     28.9           0.47  0.36   0.83  0.47     0.83                 NaN
23      NaN            NaN   NaN    NaN   NaN      NaN                 NaN
24    130.4           0.71  0.41   1.12  0.60     1.01                 NaN
25     28.9           0.47  0.36   0.83  0.47     0.83                 NaN

[26 rows x 32 columns]

-There are mutli-level columns, hence we are removing the upper column.

In [55]:
list(df_fbref.columns)

[('Unnamed: 0_level_0', 'Season'),
 ('Unnamed: 1_level_0', 'Age'),
 ('Unnamed: 2_level_0', 'Squad'),
 ('Unnamed: 3_level_0', 'Country'),
 ('Unnamed: 4_level_0', 'Comp'),
 ('Unnamed: 5_level_0', 'LgRank'),
 ('Unnamed: 6_level_0', 'MP'),
 ('Playing Time', 'Starts'),
 ('Playing Time', 'Min'),
 ('Playing Time', '90s'),
 ('Performance', 'Gls'),
 ('Performance', 'Ast'),
 ('Performance', 'G-PK'),
 ('Performance', 'PK'),
 ('Performance', 'PKatt'),
 ('Performance', 'CrdY'),
 ('Performance', 'CrdR'),
 ('Per 90 Minutes', 'Gls'),
 ('Per 90 Minutes', 'Ast'),
 ('Per 90 Minutes', 'G+A'),
 ('Per 90 Minutes', 'G-PK'),
 ('Per 90 Minutes', 'G+A-PK'),
 ('Expected', 'xG'),
 ('Expected', 'npxG'),
 ('Expected', 'xA'),
 ('Expected', 'npxG+xA'),
 ('Per 90 Minutes', 'xG'),
 ('Per 90 Minutes', 'xA'),
 ('Per 90 Minutes', 'xG+xA'),
 ('Per 90 Minutes', 'npxG'),
 ('Per 90 Minutes', 'npxG+xA'),
 ('Unnamed: 31_level_0', 'Matches')]

In [56]:
df_fbref.columns = df_fbref.columns.droplevel(0)

In [57]:
df_fbref.head()

,Season,Age,Squad,Country,Comp,LgRank,MP,Starts,Min,90s,...,xG,npxG,xA,npxG+xA,xG,xA,xG+xA,npxG,npxG+xA,Matches
0,2004-2005,17,Barcelona,es ESP,1. La Liga,1st,7,0,70,0.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Matches
1,2005-2006,18,Barcelona,es ESP,1. La Liga,1st,17,11,911,10.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Matches
2,2006-2007,19,Barcelona,es ESP,1. La Liga,2nd,26,23,1983,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Matches
3,2007-2008,20,Barcelona,es ESP,1. La Liga,3rd,27,23,1973,21.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Matches
4,2008-2009,21,Barcelona,es ESP,1. La Liga,1st,31,27,2516,28.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Matches

In [60]:
df_fbref.columns

Index(['Season', 'Age', 'Squad', 'Country', 'Comp', 'LgRank', 'MP', 'Starts',
       'Min', '90s', 'Gls', 'Ast', 'G-PK', 'PK', 'PKatt', 'CrdY', 'CrdR',
       'Gls', 'Ast', 'G+A', 'G-PK', 'G+A-PK', 'xG', 'npxG', 'xA', 'npxG+xA',
       'xG', 'xA', 'xG+xA', 'npxG', 'npxG+xA', 'Matches'],
      dtype='object')

- Let us select only those columns which we need.

In [68]:
df_fbref = df_fbref[['Season','Min','Gls','Ast']]
df_fbref.head()

      Season   Min Gls   Gls Ast   Ast
0  2004-2005    70   1  1.29   0  0.00
1  2005-2006   911   6  0.59   3  0.30
2  2006-2007  1983  14  0.64   3  0.14
3  2007-2008  1973  10  0.46  12  0.55
4  2008-2009  2516  23  0.82  11  0.39

- Here, we can see the Gls and Ast has been repeated twice, however, they are different coulmns. The latter ones are the per 90 stats.

In [69]:
df_fbref.columns = ['Season','Min','Goals','Gls/90','Assists','Ast/90']
df_fbref.head()

      Season   Min Goals Gls/90 Assists Ast/90
0  2004-2005    70     1   1.29       0   0.00
1  2005-2006   911     6   0.59       3   0.30
2  2006-2007  1983    14   0.64       3   0.14
3  2007-2008  1973    10   0.46      12   0.55
4  2008-2009  2516    23   0.82      11   0.39

- We also want to 'shots on target' data of Messi from fbref. However, we have already scrapped the whole page, so we only need to access the right table.

In [76]:
df_fbref_sot = df_list[5]
df_fbref_sot.head()

,Season,Age,Squad,Country,Comp,LgRank,90s,Gls,Sh,SoT,...,Dist,FK,PK,PKatt,xG,npxG,npxG/Sh,G-xG,np:G-xG,Matches
0,2004-2005,17,Barcelona,es ESP,1. La Liga,1st,0.8,1,NaN,4,...,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,Matches
1,2005-2006,18,Barcelona,es ESP,1. La Liga,1st,10.1,6,NaN,23,...,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,Matches
2,2006-2007,19,Barcelona,es ESP,1. La Liga,2nd,22.0,14,NaN,32,...,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,Matches
3,2007-2008,20,Barcelona,es ESP,1. La Liga,3rd,21.9,10,NaN,33,...,NaN,NaN,4,4,NaN,NaN,NaN,NaN,NaN,Matches
4,2008-2009,21,Barcelona,es ESP,1. La Liga,1st,28.0,23,NaN,55,...,NaN,NaN,3,4,NaN,NaN,NaN,NaN,NaN,Matches

In [78]:
# df_fbref_sot.columns = df_fbref_sot.columns.droplevel(0)
# df_fbref_sot.head()

- Again, selecting the only columns we need.

In [79]:
df_fbref_sot = df_fbref_sot[['Season','SoT','SoT/90','G/SoT']]
df_fbref_sot.head()

      Season SoT SoT/90 G/SoT
0  2004-2005   4   5.14  0.25
1  2005-2006  23   2.27  0.26
2  2006-2007  32   1.45  0.44
3  2007-2008  33   1.51  0.18
4  2008-2009  55   1.97  0.36

- Now lets merge the df_fbref and df_fbref_sot datarames into a single one.

In [81]:
df = pd.merge(df_fbref, df_fbref_sot, on="Season")
df.head()

      Season   Min Goals Gls/90 Assists Ast/90 SoT SoT/90 G/SoT
0  2004-2005    70     1   1.29       0   0.00   4   5.14  0.25
1  2005-2006   911     6   0.59       3   0.30  23   2.27  0.26
2  2006-2007  1983    14   0.64       3   0.14  32   1.45  0.44
3  2007-2008  1973    10   0.46      12   0.55  33   1.51  0.18
4  2008-2009  2516    23   0.82      11   0.39  55   1.97  0.36

### C. Saving the Data

In [82]:
df.to_csv('data/messi_fbref.csv')

## 3. Messi's International stats (for Argentina) from transfermarket

### A. Extracting/Scraping

In [97]:
transfermarket_url = 'https://www.transfermarkt.com/lionel-messi/nationalmannschaft/spieler/28003/verein_id/3437/plus/1?hauptwettbewerb=&wettbewerb_id=&trainer_id=&start=Aug+17%2C+2005&ende=Oct+23%2C+2022&nurEinsatz=2'
headers = {'User-Agent': 
           'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.106 Safari/537.36'}

In [98]:
data = requests.get(transfermarket_url,headers=headers)
df_list = pd.read_html(data.text) # this parses all the tables in webpages to a list
print(df_list)

[      #  National team         National team.1          Debut     Unnamed: 4  \
0   NaN      Argentina               Argentina      Argentina      Argentina
1  10.0            NaN               Argentina   Aug 17, 2005            164
2   NaN  Argentina U20           Argentina U20  Argentina U20  Argentina U20
3  18.0            NaN           Argentina U20   Jan 13, 2005             16
4   NaN      Argentina               Argentina      Argentina      Argentina
5  15.0            NaN  Argentina Olympic Team    Aug 7, 2008              5

      Unnamed: 5        Coach at debut                Age at debut
0      Argentina                   NaN                         NaN
1             90  José Néstor Pekerman   18 years 01 month 24 days
2  Argentina U20                   NaN                         NaN
3             11          Hugo Tocalli  17 years 06 months 20 days
4      Argentina                   NaN                         NaN
5              2        Sergio Batista   21 years 01 month 14 days  ,                           0                                                 1  \
0  Filter by national team:  Argentina  Argentina U20  Argentina Olympic Team

                                                  2  \
0  Argentina  Argentina U20  Argentina Olympic Team

                                                  3   4
0  Argentina  Argentina U20  Argentina Olympic Team NaN  ,   competition             competition.1  wettbewerb Unnamed: 3  Unnamed: 4  \
0         NaN   World Cup qualification        60.0         28          11
1         NaN  International Friendlies        50.0         43          16
2         NaN              Copa América        34.0         13          17
3         NaN                 World Cup        19.0          6           5
4         NaN    Artemio Franchi Trophy         1.0          -           2
5     Total :                   Total :         NaN        164          90

  Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9 Unnamed: 10  \
0          -          5          4          1          -           -
1          -          6         13          3          -           1
2          -          3          2          3          -           1
3          -          2          2          1          -           -
4          -          -          -          -          -           -
5         51          -         16         21          8           -

  Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14
0           7        180'      5.049'         NaN
1           9         89'      3.833'         NaN
2           3        224'      2.907'         NaN
3           -        271'      1.625'         NaN
4           -           -         90'         NaN
5           2          19        150'     13.504'  ,                               0  \
0  Filter by major competition:
1        Filter by competition:
2              Filter by coach:
3                       Period:
4                      Matches:

                                                   1  \
0  All  World Cup qualification  International Fr...
1  All  World Cup qualification South America  In...
2  All  José Néstor Pekerman  Alfio Basile  Gerar...
3                                                NaN
4  All games  Only games where the player appeare...

                                                   2  \
0  All  World Cup qualification  International Fr...
1  All  World Cup qualification South America  In...
2  All  José Néstor Pekerman  Alfio Basile  Gerar...
3                                                  -
4  All games  Only games where the player appeare...

                                                   3   4
0  All  World Cup qualification  International Fr... NaN
1  All  World Cup qualification South America  In... NaN
2  All  José Néstor Pekerman  Alfio Basile  Gerar... NaN
3                                                NaN NaN
4  All games  Only games where the player appeare... NaN  ,     Unnamed: 0                  Matchday                      club  \
0          NaN  International Friendlies  International Friendlies
1          NaN                       NaN                       NaN
2          NaN            World Cup 2006            World Cup 2006
3          NaN                   Group C                       NaN
4          NaN  International Friendlies  International Friendlies
..         ...                       ...                       ...
91         NaN                   Group A                       NaN
92         NaN  International Friendlies  International Friendlies
93         NaN                       NaN                       NaN
94         NaN                       NaN                       NaN
95         NaN                       NaN                       NaN

                                     Venue                      Date  \
0                 International Friendlies  International Friendlies
1                                    Basel               Mar 1, 2006
2                           World Cup 2006            World Cup 2006
3                            Gelsenkirchen              Jun 16, 2006
4                 International Friendlies  International Friendlies
..                                     ...                       ...
91  La Boca, Buenos Aires, Capital Federal              Mar 26, 2022
92                International Friendlies  International Friendlies
93                                Pamplona               Jun 5, 2022
94                  Miami Gardens, Florida              Sep 24, 2022
95                    Harrison, New Jersey              Sep 28, 2022

                   Home team               Home team.1  \
0   International Friendlies  International Friendlies
1                        NaN                   Croatia
2             World Cup 2006            World Cup 2006
3                        NaN                 Argentina
4   International Friendlies  International Friendlies
..                       ...                       ...
91                       NaN                 Argentina
92  International Friendlies  International Friendlies
93                       NaN                 Argentina
94                       NaN                 Argentina
95                       NaN                   Jamaica

                   Away team               Away team.1  \
0   International Friendlies  International Friendlies
1                        NaN                 Argentina
2             World Cup 2006            World Cup 2006
3                        NaN              Serbia-Mont.
4   International Friendlies  International Friendlies
..                       ...                       ...
91                       NaN                 Venezuela
92  International Friendlies  International Friendlies
93                       NaN                   Estonia
94                       NaN                  Honduras
95                       NaN                 Argentina

                      Result  ...               Unnamed: 11  \
0   International Friendlies  ...  International Friendlies
1                        3:2  ...                         1
2             World Cup 2006  ...            World Cup 2006
3                        6:0  ...                         1
4   International Friendlies  ...  International Friendlies
..                       ...  ...                       ...
91                       3:0  ...                         1
92  International Friendlies  ...  International Friendlies
93                       5:0  ...                         5
94                       3:0  ...                         2
95                       0:3  ...                         2

                 Unnamed: 12               Unnamed: 13  \
0   International Friendlies  International Friendlies
1                          1                       NaN
2             World Cup 2006            World Cup 2006
3                          1                       NaN
4   International Friendlies  International Friendlies
..                       ...                       ...
91                       NaN                       NaN
92  International Friendlies  International Friendlies
93                       NaN                       NaN
94                       NaN                       NaN
95                       NaN                       NaN

                 Unnamed: 14               Unnamed: 15  \
0   International Friendlies  International Friendlies
1                        NaN                       NaN
2             World Cup 2006            World Cup 2006
3                        NaN                       NaN
4   International Friendlies  International Friendlies
..                       ...                       ...
91                       NaN                       NaN
92  International Friendlies  International Friendlies
93                       NaN                       NaN
94                       NaN                       NaN
95                       NaN                       NaN

                 Unnamed: 16               Unnamed: 17  \
0   International Friendlies  International Friendlies
1                        NaN                       NaN
2             World Cup 2006            World Cup 2006
3                        NaN                       74'
4   International Friendlies  International Friendlies
..                       ...                       ...
91                       NaN                       NaN
92  International Friendlies  International Friendlies
93                       NaN                       NaN
94                       NaN                       NaN
95                       NaN                       56'

                 Unnamed: 18               Unnamed: 19  \
0   International Friendlies  International Friendlies
1                        NaN                       90'
2             World Cup 2006            World Cup 2006
3                        NaN                       16'
4   International Friendlies  International Friendlies
..                       ...                       ...
91                       NaN                       90'
92  International Friendlies  International Friendlies
93                       NaN                       90'
94                       NaN                       90'
95                       NaN                       34'

                 Unnamed: 20
0   International Friendlies
1                        NaN
2             World Cup 2006
3                        NaN
4   International Friendlies
..                       ...
91                       NaN
92  International Friendlies
93                       NaN
94                       NaN
95                       NaN

[96 rows x 21 columns]]

### B. Exploring and Transforming the Data

In [99]:
df_tfm = df_list[4]
df_tfm.head()

,Unnamed: 0,Matchday,club,Venue,Date,Home team,Home team.1,Away team,Away team.1,Result,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,NaN,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,...,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies
1,NaN,NaN,NaN,Basel,"Mar 1, 2006",NaN,Croatia,NaN,Argentina,3:2,...,1,1,NaN,NaN,NaN,NaN,NaN,NaN,90',NaN
2,NaN,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,...,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006
3,NaN,Group C,NaN,Gelsenkirchen,"Jun 16, 2006",NaN,Argentina,NaN,Serbia-Mont.,6:0,...,1,1,NaN,NaN,NaN,NaN,74',NaN,16',NaN
4,NaN,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,...,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies

- Replacing NaN in the Matchday column with competition name.

In [101]:
df_tfm['Matchday'].fillna(method='ffill',inplace=True)
df_tfm.head()

,Unnamed: 0,Matchday,club,Venue,Date,Home team,Home team.1,Away team,Away team.1,Result,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,NaN,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,...,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies
1,NaN,International Friendlies,NaN,Basel,"Mar 1, 2006",NaN,Croatia,NaN,Argentina,3:2,...,1,1,NaN,NaN,NaN,NaN,NaN,NaN,90',NaN
2,NaN,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,...,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006
3,NaN,Group C,NaN,Gelsenkirchen,"Jun 16, 2006",NaN,Argentina,NaN,Serbia-Mont.,6:0,...,1,1,NaN,NaN,NaN,NaN,74',NaN,16',NaN
4,NaN,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,...,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies

- Creating a new column named  Competition.

In [102]:
df_tfm.insert(1,'Competition',df_tfm['Matchday'])
df_tfm.head()

,Unnamed: 0,Competition,Matchday,club,Venue,Date,Home team,Home team.1,Away team,Away team.1,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,NaN,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,...,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies
1,NaN,International Friendlies,International Friendlies,NaN,Basel,"Mar 1, 2006",NaN,Croatia,NaN,Argentina,...,1,1,NaN,NaN,NaN,NaN,NaN,NaN,90',NaN
2,NaN,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,...,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006
3,NaN,Group C,Group C,NaN,Gelsenkirchen,"Jun 16, 2006",NaN,Argentina,NaN,Serbia-Mont.,...,1,1,NaN,NaN,NaN,NaN,74',NaN,16',NaN
4,NaN,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,...,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies

- In the above dataframe, we can see that no 3 row (4th) has 'Group C' in the 'Competition' column. This Group C is also from the World Cup 2006 (preceding value).

- Notice the 0th row, or the 2nd or 4th row in the above dataframe. Every element in those rows are filled with the competition names. Now let us extract only those rows.

In [103]:
competition_names = df_tfm[df_tfm.nunique(1).eq(1)]
competition_names.head(10)

,Unnamed: 0,Competition,Matchday,club,Venue,Date,Home team,Home team.1,Away team,Away team.1,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,NaN,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,...,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies
2,NaN,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,...,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006
4,NaN,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,...,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies
6,NaN,Copa América 2007,Copa América 2007,Copa América 2007,Copa América 2007,Copa América 2007,Copa América 2007,Copa América 2007,Copa América 2007,Copa América 2007,...,Copa América 2007,Copa América 2007,Copa América 2007,Copa América 2007,Copa América 2007,Copa América 2007,Copa América 2007,Copa América 2007,Copa América 2007,Copa América 2007
9,NaN,World Cup qualification South America,World Cup qualification South America,World Cup qualification South America,World Cup qualification South America,World Cup qualification South America,World Cup qualification South America,World Cup qualification South America,World Cup qualification South America,World Cup qualification South America,...,World Cup qualification South America,World Cup qualification South America,World Cup qualification South America,World Cup qualification South America,World Cup qualification South America,World Cup qualification South America,World Cup qualification South America,World Cup qualification South America,World Cup qualification South America,World Cup qualification South America
12,NaN,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,...,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies
14,NaN,World Cup qualification South America,World Cup qualification South America,World Cup qualification South America,World Cup qualification South America,World Cup qualification South America,World Cup qualification South America,World Cup qualification South America,World Cup qualification South America,World Cup qualification South America,...,World Cup qualification South America,World Cup qualification South America,World Cup qualification South America,World Cup qualification South America,World Cup qualification South America,World Cup qualification South America,World Cup qualification South America,World Cup qualification South America,World Cup qualification South America,World Cup qualification South America
16,NaN,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,...,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies
18,NaN,World Cup qualification South America,World Cup qualification South America,World Cup qualification South America,World Cup qualification South America,World Cup qualification South America,World Cup qualification South America,World Cup qualification South America,World Cup qualification South America,World Cup qualification South America,...,World Cup qualification South America,World Cup qualification South America,World Cup qualification South America,World Cup qualification South America,World Cup qualification South America,World Cup qualification South America,World Cup qualification South America,World Cup qualification South America,World Cup qualification South America,World Cup qualification South America
20,NaN,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,...,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies

- What we can do now is use the index gap of competition_name dataframe to locate those rows where we need to fill the competition name in 'Competition' column of our original df_tfm dataframe.Example, there is a gap between index 2 and 4, and the 2 index is 'World Cup 2006'. That means the missing 3rd index is also of competition 'World Cup 2006'.

In [104]:
for i,index in enumerate(competition_names.index):
    comp_name = df_tfm['Competition'][index]

    if i+1 >= len(competition_names):
        break
    for x in range(index,competition_names.index[i+1]):
        df_tfm['Competition'].iloc[x] = comp_name

/tmp/ipykernel_4983/188988211.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tfm['Competition'].iloc[x] = comp_name

In [106]:
df_tfm.head()

,Unnamed: 0,Competition,Matchday,club,Venue,Date,Home team,Home team.1,Away team,Away team.1,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,NaN,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,...,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies
1,NaN,International Friendlies,International Friendlies,NaN,Basel,"Mar 1, 2006",NaN,Croatia,NaN,Argentina,...,1,1,NaN,NaN,NaN,NaN,NaN,NaN,90',NaN
2,NaN,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,...,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006
3,NaN,World Cup 2006,Group C,NaN,Gelsenkirchen,"Jun 16, 2006",NaN,Argentina,NaN,Serbia-Mont.,...,1,1,NaN,NaN,NaN,NaN,74',NaN,16',NaN
4,NaN,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,...,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies

- Removing the unwanted columns.

In [107]:
df_tfm.isna().sum()

Unnamed: 0     96
Competition     0
Matchday        0
club           62
Venue           6
Date            0
Home team      62
Home team.1     0
Away team      62
Away team.1     0
Result          0
Pos.            0
Unnamed: 11     0
Unnamed: 12    42
Unnamed: 13    62
Unnamed: 14    57
Unnamed: 15    62
Unnamed: 16    62
Unnamed: 17    56
Unnamed: 18    55
Unnamed: 19     0
Unnamed: 20    62
dtype: int64

- Removing coulmn is very easy in our case. Luckily all the columns that have Nan values can be removed (exxcept the venue,but we don't need it as well). Suppose the 'Club' column, it was to store club flag in the Transfermarket'website, hence its filled with NaNs and we don't need club.

In [108]:
df_tfm.dropna(axis=1, how='any', inplace=True) # any means if there exists any NaN values, all would be used to remove a col with all NaN values
df_tfm.head()

,Competition,Matchday,Date,Home team.1,Away team.1,Result,Pos.,Unnamed: 11,Unnamed: 19
0,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies
1,International Friendlies,International Friendlies,"Mar 1, 2006",Croatia,Argentina,3:2,RM,1,90'
2,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006,World Cup 2006
3,World Cup 2006,Group C,"Jun 16, 2006",Argentina,Serbia-Mont.,6:0,RM,1,16'
4,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies,International Friendlies

- So now, let's also remove those rows which are filled with the competition names, example 0th row, 2nd row, 4th row in the above dataframe.

In [110]:
# we already created this dataframe named competition name that has all the rows containaing comp names only.
df_tfm.drop(competition_names.index,axis=0, inplace=True)
df_tfm.head()

,Competition,Matchday,Date,Home team.1,Away team.1,Result,Pos.,Unnamed: 11,Unnamed: 19
1,International Friendlies,International Friendlies,"Mar 1, 2006",Croatia,Argentina,3:2,RM,1,90'
3,World Cup 2006,Group C,"Jun 16, 2006",Argentina,Serbia-Mont.,6:0,RM,1,16'
5,International Friendlies,International Friendlies,"Jun 5, 2007",Algeria,Argentina,3:4,RW,2,90'
7,Copa América 2007,Quarter-Finals,"Jul 9, 2007",Argentina,Peru,4:0,SS,1,90'
8,Copa América 2007,Semi-Finals,"Jul 12, 2007",Mexico,Argentina,0:3,SS,1,90'

- Also let's rename those column names. Unnamed 11 is the goal scored and unnamed 19 is the minutes played.

In [111]:
df_tfm.rename(columns = {'Home team.1':'Home Team', 'Away team.1':'Away Team', 'Pos.':'Position',
                            'Unnamed: 11':'Goals','Unnamed: 19':'Minutes Played'}, inplace = True)
df_tfm.head()

,Competition,Matchday,Date,Home Team,Away Team,Result,Position,Goals,Minutes Played
1,International Friendlies,International Friendlies,"Mar 1, 2006",Croatia,Argentina,3:2,RM,1,90'
3,World Cup 2006,Group C,"Jun 16, 2006",Argentina,Serbia-Mont.,6:0,RM,1,16'
5,International Friendlies,International Friendlies,"Jun 5, 2007",Algeria,Argentina,3:4,RW,2,90'
7,Copa América 2007,Quarter-Finals,"Jul 9, 2007",Argentina,Peru,4:0,SS,1,90'
8,Copa América 2007,Semi-Finals,"Jul 12, 2007",Mexico,Argentina,0:3,SS,1,90'

- Converting the str Goal column to integer.

In [112]:
df_tfm['Goals'] = df_tfm['Goals'].apply(lambda x: int(x))

In [113]:
# Re-ordering the index
df_tfm = df_tfm.reset_index(drop=True)
df_tfm.head(3)

,Competition,Matchday,Date,Home Team,Away Team,Result,Position,Goals,Minutes Played
0,International Friendlies,International Friendlies,"Mar 1, 2006",Croatia,Argentina,3:2,RM,1,90'
1,World Cup 2006,Group C,"Jun 16, 2006",Argentina,Serbia-Mont.,6:0,RM,1,16'
2,International Friendlies,International Friendlies,"Jun 5, 2007",Algeria,Argentina,3:4,RW,2,90'

### C. Testing the Data Cleaning Process.

- Messi's total international goal is 90(till today). So if we add the Goals column and get 90 means, the data was cleaned properly.

In [114]:
df_tfm['Goals'].sum()

90

- Also Messi scored 4 goals in 2014 World Cup.

In [115]:
df_tfm[df_tfm['Competition']=="World Cup 2014"]['Goals'].sum()

4

- Hence, our data cleaing worked perfectly.

### D. Saving the Data

In [116]:
df_tfm.to_csv('data/messi_international.csv')